{% extends "basic.html" %}
{% load static %}
{% block content %}
<section class="signin-page account" style="background:url('static/img/register-bg.jpg');">
  <div class="container">
  
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="index.html">
            <img src="{% static 'img/logo.png'%}" width="100" alt="">
          </a>
                                {% if messages %}
									<ul class="messages">
										{% for message in messages %}
											{% if message.tags == 'warning' %}
												
                                                <div class="alert alert-danger alert-common alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <i class="tf-ion-close-circled"></i><span>Passwords Do Not Match</span> 
                                                </div>
                                            {% elif message.tags == 'error' %}
                                                                        
                                                <div class="alert alert-danger alert-common alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <i class="tf-ion-close-circled"></i><span>Username Already Taken. Try A Different One</span> 
                                                </div>
                                            {% elif message.tags == 'success' %}
                                                                        
                                                <div class="alert alert-danger alert-common alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <i class="tf-ion-close-circled"></i><span>Phone Number Already Taken. Try A Different One</span> 
                                                </div>
											{% endif %}
										{% endfor %}
									</ul>
								{% endif %}
          <h2 class="text-center">Create A New Account </h2>
          <form class="text-left clearfix" method="post" action="{% url 'register' %}"> {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="uname" placeholder="Your Unique Username" >
            </div> 
            <div class="form-group">
              <input type="text" class="form-control" name="telphone"  placeholder="Phone Number">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="pwd1"  placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="pwd2"  placeholder="Confirm Password">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center btn-round-full"> Register?</button>
            </div>
          </form>
          <p class="mt-20">Sixth Element</p>
         
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}