{% extends 'basic.html' %}
{% block content %}
{% load humanize %}

<section class="page-header" style="background:#222525">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name" style="color:white;">Shop</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'index' %}" style="color:white;">Home</a></li>
						<li class="active" style="color:white;"><a href="{% url 'shop' %}" style="color:white;">Shop</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="products section">
	<div class="container">
        
		<div class="row">
			<div class="col-md-3">
				<div class="widget">
					<h4 class="widget-title">Showing {{pk}}</h4>
					<form method="post" action="{% url 'shop' %}"> {% csrf_token %}
                        <select class="form-control" name="category" style="border-radius:10px;">
                            <option>---</option>
                            {% for i in category %}
                                
                                <option>{{i}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button class="btn btn-main btn-round-full btn-small">Select</button>
                    </form>
	            </div>
                
				<div class="widget product-category" >
                    {% if count > 0 %}
                     <h4 class="widget-title">Showing <strong>{{count}}</strong> Products</h4>
                    
                    {% endif %}
					
                    {% for i in main %}
					<div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
					  	<div class="panel panel-default">
						    <div class="panel-heading" role="tab" id="headingOne">
						      	<h4 class="panel-title">
						        	<a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{i.0.id}}" aria-expanded="true" aria-controls="collapseOne">
						          	{{i.0.name  }}
						        	</a>
						      	</h4>
						    </div>
                            <div id="{{i.0.id}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul>
                                        {% for j in i %}
                                            {% if j.instock %}
                                                <li><a href="{% url 'item' j.id %}">
                                                    <strong>
                                                    {% if j.flavour %}
                                                        {{j.flavour.name}}
                                                    {% else %}
                                                        {{j.name}}
                                                    {% endif %}
                                                    
                                                    </strong>  &nbsp;&nbsp;|&nbsp;&nbsp; {{j.qty}}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
					  </div>
					  
					</div>
                    {% endfor %}
                    
                    
                    
					
				</div>
			</div>
			<div class="col-md-9">
                
				<div class="row">
                {% if items %}
					{% for i in items  %}
                    <div class="col-md-4"  >
                        <div class="product-item" style="border: 1px solid #; " >
                            <div class="card" style="">
                            <a href="{% url 'item' i.id %}"><span class="badge" style="border-radius:0; background-color: black;">{{i.percent}}% off</span></a>
                            <a href="{% url 'item' i.id %}"><img class="img-responsive" src="{{i.img1.url}}"  height="300" alt="Card image cap"></a>
                            <div class="card-body" style="background: #1c92d2;  /* fallback for old browsers */
                                background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
                                background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
                                
                                {% if i.flavour %}
                                <center><a href="{% url 'item' i.id %}" class="btn btn-main btn-small btn-round-full" style="color:black; margin-top:6px; margin-bottom:6px; background-color:white;"><strong>{{i.flavour.name}}</strong></a></center>
                                
                                {% else %}
                                <center><a href="{% url 'item' i.id %}" class="btn btn-main btn-small btn-round-full" style="color:black; margin-top:6px; margin-bottom:6px; background-color:white;"><strong>{{i.name}}</strong></a></center>
                                
                                {% endif %}
                                
                                
                            </div>
                            </div>
                        </div>
                    </div>
                     <!-- Modal -->
                    <div class="modal  fade" id="product{{i.id}}">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tf-ion-close"></i>
                        </button>
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="modal-image">
                                                <img class="img-responsive" src="{{i.img1.url}}" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="product-short-details">
                                                <h2 class="product-title">{{i.name}}</h2>
                                                <div class='d-inline justify-content-center mt-20'>
                                                    <p class="product-price"><del>₹{{i.price|intcomma}}</del></p>
                                                    <h4 class="">₹{{i.afterPrice|intcomma}}</h4>	
                                                </div>
                                                <div class='d-flex justify-content-center mt-20' style="border-top:1px solid #A5A8AC; padding-top:0.5rem;">
                                                    {% if i.flavour.name %}
                                                    <button class='btn btn-main btn-small btn-round-full'>{{i.flavour.name}}</button>
                                                    
                                                    {% endif %}
                                                    <button class='btn  btn-small btn-round-full'>{{i.qty}}</button>	
                                                </div>
                                                <p style="margin-top:2rem;"></p>
                                                <a href="{% url 'addToCart' i.id %}" class="btn btn-main">Add To Cart</a>
                                                <a href="{% url 'item' i.id %}" class="btn btn-transparent">View Product Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal -->
                    {% endfor %}
                {% else %}
                    <h3>No {{pk}} Products</h3>
                {% endif %}
                   

                </div>				
			
            </div>
		
		</div>
        
	</div>
</section>  
{% endblock content %}